



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dashboard welcome {{user.name}} {{user.us}}</h1>
<!-- <a href="{% url 'signup2' %}"><button>SIGNUP HERE</button></a> -->
<nav class="navbar">
    <ul>
      <label for="">USERS GOAL</label>
      <li><a href="{% url 'add_batch_to_invantory' %}">Add_batch_to_invantory</a></li>


      <br><br><br>

      <label for="" >Admin</label>
      <li><a href="http://127.0.0.1:8000/admin/apP/product/">ADD_NEW_PRODUCT</a></li>
      
      
      



      <!-- <li><a href="#">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Services</a>
        <div class="dropdown-content">
          <a href="#">Web Development</a>
          <a href="#">App Development</a>
          <a href="#">SEO Services</a>
        </div>
      </li>
      <li><a href="#">Contact</a></li> -->
    </ul>
  </nav>
    
</body>
</html>