



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1>dashboard <br> welcome <br>
      name :{{user.name}} <br>
       ID:{{user.userid}} <br>
       UserType : {{user.usertype}}</h1>
<!-- <a href="{% url 'signup2' %}"><button>SIGNUP HERE</button></a> -->
<nav class="navbar">
    <ul>
      <label for="">USERS GOAL</label>

      <li><a href="{% url 'add_batch_to_invantory' %}?userid={{user.userid}}">Add_batch_to_invantory</a></li>

      <li><a href="{% url 'monitir_realtime_tem_humidity' %}?userid={{user.userid}}">Monotor realtime temperature Humidity</a></li>
      <li><a href="{% url 'PDemand' %}?userid={{user.userid}}">demand_for_product</a></li>

      <li><a href="{% url 'add_harvest_info' %}?userid={{user.userid}}">add_harvest_info</a></li>
      <li><a href="{% url 'wirehouse_manager_connect_Batch_and_sensor' %}?userid={{user.userid}}">wirehouse_manager_connect_Batch_and_sensor</a></li>

           <li><a href="{% url 'product_batch_buy' %}?userid={{user.userid}}">product_batch_buy</a></li>


           
           <li><a href="{% url 'farmer_req_visit_cutomer' %}?userid={{user.userid}}">farmer_req_visit_cutomer</a></li>



      <br><br><br>

      <label for="" >Admin</label>
      <li><a href="http://127.0.0.1:8000/admin/apP/product/"  target="_blank">ADD_NEW_PRODUCT also Edit  Dellet</a></li>
      <!-- <li><a href="http://127.0.0.1:8000/admin/apP/product/" target="_blank">Add New Product</a></li> -->
     <li><a href="http://127.0.0.1:8000/admin/apP/sensor/"  target="_blank">IN WIREHOUSE Sensor setup "SENSOR" </a></li>
         <li><a href="http://127.0.0.1:8000/admin/apP/wirehouse/"  target="_blank">IN WIREHOUSE Sensor setup "WIREHOUSE" </a></li>

      {% comment %} http://127.0.0.1:8000/admin/apP/sensor/ {% endcomment %}
      {% comment %} http://127.0.0.1:8000/admin/apP/wirehouse/ {% endcomment %}


      
      




    </ul>
  </nav>

  
    
</body>
</html>