



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1>dashboard <br> welcome <br>
      name :{{user.name}} <br>
       ID:{{user.userid}} <br>
       UserType : {{user.usertype}}</h1>
<!-- <a href="{% url 'signup2' %}"><button>SIGNUP HERE</button></a> -->
<nav class="navbar">
    <ul>
      <label for="">USERS GOAL</label>

      <li><a href="{% url 'add_batch_to_invantory' %}?userid={{user.userid}}">Add_batch_to_invantory</a></li>

      <li><a href="{% url 'monitir_realtime_tem_humidity' %}?userid={{user.userid}}">Monotor realtime temperature Humidity</a></li>


      <br><br><br>

      <label for="" >Admin</label>
      <li><a href="http://127.0.0.1:8000/admin/apP/product/"  target="_blank">ADD_NEW_PRODUCT also Edit  Dellet</a></li>
      <!-- <li><a href="http://127.0.0.1:8000/admin/apP/product/" target="_blank">Add New Product</a></li> -->


      
      



      <!-- <li><a href="#">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Services</a>
        <div class="dropdown-content">
          <a href="#">Web Development</a>
          <a href="#">App Development</a>
          <a href="#">SEO Services</a>
        </div>
      </li>
      <li><a href="#">Contact</a></li> -->
    </ul>
  </nav>
    
</body>
</html>